@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600&display=swap");
.nav {
  width: 100vw;
  border-bottom: 2px solid #ddaa44;
  display: flex;
  top: 0;
  justify-content: space-between;
  background-color: black;
}
.nav__logo {
  width: 60px;
  height: 60px;
  margin: 5px 5px 5px 30px;
}
.nav__a {
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 15px;
}
.nav__a:hover {
  cursor: default;
}
.nav__ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}
.nav__ul-li {
  width: auto;
  list-style: none;
}
.nav__ul-li:hover {
  transform: scale(1.1);
}
.nav__ul-li-a {
  text-decoration: none;
  text-transform: capitalize;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.nav__ul-li-a:hover {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ddaa44;
}

body {
  height: 100vh;
  background-color: black;
  min-height: 100vh;
  font-family: "Gothic A1", sans-serif;
}
body .main {
  width: 100%;
  position: relative;
}
body .main__h1 {
  display: none;
}
body .main__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main__section-article {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
body .main__section-img {
  position: absolute;
  width: 40%;
  height: auto;
  opacity: 40%;
  z-index: 2;
}

p {
  height: auto;
}

.main__contact {
  display: flex;
  align-items: center;
  height: 100vh;
}
.main__contact-fondo {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
}

#contact {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
#contact .contact__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
#contact .contact__form-h1 {
  font-size: 30px;
}
#contact .nombre, #contact .mail {
  height: 40px;
}
#contact .mensaje {
  resize: none;
}
#contact .nombre, #contact .mail, #contact .mensaje {
  width: 350px;
  border-color: #ddaa44;
  background-color: black;
  -webkit-text-fill-color: #ddaa44;
  font-size: 15px;
  padding: 3px 7px;
}
#contact .enviar {
  width: 80px;
  height: 35px;
  background-color: black;
  border-color: #ddaa44;
  cursor: pointer;
  cursor: hand;
}

.contact__data {
  height: 100%;
}
.contact__data .info {
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
}
.contact__data .info a {
  text-decoration: none;
}
.contact__data .redes {
  display: inline-flex;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
}

.main__port-titulo {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
.main__port-titulo-h1 {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.main__port-titulo-intro {
  padding: 50px;
}
.main__port-cont-img {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
  padding: 0 15px 60px;
}
.main__port-cont-img-fotos {
  border: 2px solid #ddaa44;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}
.main__port-cont-img-fotos:hover {
  transform: scale(1.1);
  transition: 500ms ease-in-out;
}

.main__ns {
  background-image: radial-gradient(circle, black, rgb(34, 34, 34), black, rgb(34, 34, 34), black, rgb(34, 34, 34), rgb(34, 34, 34), black, rgb(34, 34, 34), black);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  min-height: 100vh;
  padding-bottom: 50px;
  grid-template-areas: "titulo titulo" "carrusel-1 parrafo-1" "parrafo-2 carrusel-2" "carrusel-3 parrafo-3" "parrafo-4 carrusel-4";
}
.main__ns-titulo {
  font-size: 35px;
  display: flex;
}

#conten__items-carrusel-1, #conten__items-carrusel-2, #conten__items-carrusel-3, #conten__items-carrusel-4 {
  border: 3px solid #ddaa44;
  height: 330px;
  width: 500px;
  overflow: hidden;
  border-radius: 18px;
  justify-self: flex-end;
}
#conten__items-carrusel-1 .item-carrusel, #conten__items-carrusel-2 .item-carrusel, #conten__items-carrusel-3 .item-carrusel, #conten__items-carrusel-4 .item-carrusel {
  height: 330px;
  position: relative;
}
#conten__items-carrusel-1 .item-carrusel img, #conten__items-carrusel-2 .item-carrusel img, #conten__items-carrusel-3 .item-carrusel img, #conten__items-carrusel-4 .item-carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#conten__items-carrusel-1 .item-carrusel .flechasCarrusel, #conten__items-carrusel-2 .item-carrusel .flechasCarrusel, #conten__items-carrusel-3 .item-carrusel .flechasCarrusel, #conten__items-carrusel-4 .item-carrusel .flechasCarrusel {
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 25px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#conten__items-carrusel-1 .item-carrusel .flechas-segundo, #conten__items-carrusel-2 .item-carrusel .flechas-segundo, #conten__items-carrusel-3 .item-carrusel .flechas-segundo, #conten__items-carrusel-4 .item-carrusel .flechas-segundo {
  color: darkslategrey;
}

#conten__items-carrusel-1 {
  grid-area: carrusel-1;
}

#conten__items-carrusel-2 {
  justify-self: flex-start;
  grid-area: carrusel-2;
}

#conten__items-carrusel-3 {
  grid-area: carrusel-3;
}

#conten__items-carrusel-4 {
  justify-self: flex-start;
  grid-area: carrusel-4;
}

.primer-parrafo, .segundo-parrafo, .tercer-parrafo, .cuarto-parrafo {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  gap: 20px;
  text-align: start;
  align-self: center;
  padding: 0 20px 0 20px;
}

.primer-parrafo {
  grid-area: parrafo-1;
}

.segundo-parrafo {
  text-align: end;
  grid-area: parrafo-2;
}

.tercer-parrafo {
  grid-area: parrafo-3;
}

.cuarto-parrafo {
  text-align: end;
  grid-area: parrafo-4;
}

.body__nos {
  background-image: linear-gradient(black, rgba(35, 35, 110, 0.685), black, rgba(35, 35, 110, 0.685), black);
  background-color: rgb(17, 17, 17);
}
.body__nos-main {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.body__nos-main-art, .body__nos-main-h3, .body__nos-main-h4, .body__nos-main-parrafos {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-size: 25px;
}
.body__nos-main-art-img, .body__nos-main-h3-img, .body__nos-main-h4-img, .body__nos-main-parrafos-img {
  width: 600px;
  height: 90px;
}
.body__nos-main-h3, .body__nos-main-h4 {
  font-size: 50px;
}
.body__nos-main-h4 a:hover {
  transform: scale(1.4);
  transition: 100ms ease-in-out;
  color: white;
}

.footer {
  width: 100vw;
  background-color: black;
  position: relative;
  text-align: center;
  bottom: 0;
  border-top: 2px solid #ddaa44;
}

@media (min-width: 1260px) {
  .main__section-article-video {
    width: 100%;
  }
  .footer {
    position: fixed;
  }
}
.nav__a-h2-br {
  display: none;
}

@media (max-width: 1150px) {
  .redes {
    flex-direction: column;
  }
}
@media (max-width: 1070px) {
  .nav__ul-li {
    width: auto;
    padding: 8px;
    display: flex;
  }
  .nav__ul-li-a {
    font-size: 15px;
  }
  .nav__a-h2 {
    font-size: 18px;
  }
  .nav__a-h2-br {
    display: block;
  }
  .main__contact {
    justify-content: center;
  }
  .main__contact #contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: auto;
  }
  .main__contact .contact__data {
    text-align: center;
  }
  .main__contact .contact__data .info {
    font-size: 20px;
  }
  .main__contact .contact__data .redes {
    font-size: 20px;
    margin: 10px 0;
  }
  .main__ns {
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "carrusel-1" "parrafo-1" "carrusel-2" "parrafo-2" "carrusel-3" "parrafo-3" "carrusel-4" "parrafo-4";
  }
  .main__ns-titulo {
    font-size: 30px;
    justify-content: center;
  }
  .main__ns #conten__items-carrusel-1, .main__ns #conten__items-carrusel-2, .main__ns #conten__items-carrusel-3, .main__ns #conten__items-carrusel-4 {
    height: 330px;
    width: 500px;
    justify-self: center;
  }
  .main__ns #conten__items-carrusel-1 .item-carrusel, .main__ns #conten__items-carrusel-2 .item-carrusel, .main__ns #conten__items-carrusel-3 .item-carrusel, .main__ns #conten__items-carrusel-4 .item-carrusel {
    height: 330px;
  }
  .main__ns .primer-parrafo, .main__ns .segundo-parrafo, .main__ns .tercer-parrafo, .main__ns .cuarto-parrafo {
    text-align: center;
    font-size: 18px;
    padding: 0;
  }
  .main__ns .primer-parrafo-texto, .main__ns .segundo-parrafo-texto, .main__ns .tercer-parrafo-texto, .main__ns .cuarto-parrafo-texto {
    padding: 0 30px;
  }
  .body__nos-main-art, .body__nos-main-parrafos {
    font-size: 18px;
  }
  .body__nos-main-art-img, .body__nos-main-parrafos-img {
    width: 400px;
    height: 60px;
  }
  .body__nos-main-h3, .body__nos-main-h4 {
    font-size: 25px;
  }
  .main__port-titulo {
    font-size: 18px;
  }
}
@media (max-width: 1070px) and (max-width: 599px) {
  .main__ns-titulo {
    font-size: 25px;
  }
  .main__ns #conten__items-carrusel-1, .main__ns #conten__items-carrusel-2, .main__ns #conten__items-carrusel-3, .main__ns #conten__items-carrusel-4 {
    height: 150px;
    width: 250px;
  }
  .main__ns #conten__items-carrusel-1 .item-carrusel, .main__ns #conten__items-carrusel-2 .item-carrusel, .main__ns #conten__items-carrusel-3 .item-carrusel, .main__ns #conten__items-carrusel-4 .item-carrusel {
    height: 150px;
  }
}
@media (max-width: 1070px) {
  .nav__ul {
    display: grid;
    margin: 0;
    justify-content: flex-end;
  }
  .nav__ul-li {
    padding: 5px;
  }
  .nav__a {
    display: block;
  }
  .nav__logo {
    margin: 0;
  }
  #contact {
    background-color: rgba(0, 0, 0, 0);
    display: block;
  }
  #contact .contact__form {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  #contact .contact__form .nombre, #contact .contact__form .mail, #contact .contact__form .mensaje {
    width: 250px;
  }
  .contact__data {
    display: grid;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .contact__data .info {
    margin: 10px 0;
  }
  .main__contact {
    overflow: scroll;
  }
}

/*# sourceMappingURL=estilo.css.map */
