@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600&display=swap");
.nav {
  width: 100vw;
  display: flex;
  /*     position: fixed; */
  top: 0;
  justify-content: space-between;
  background-color: black00;
}

.nav__logo {
  width: 60px;
  height: 60px;
  margin-left: 30px;
}

.nav__a {
  text-decoration: none;
  display: flex;
  color: #fa4;
  text-align: center;
  align-items: center;
  gap: 15px;
}

.nav__ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}

.nav__ul-li {
  width: auto;
  list-style: none;
}

.nav__ul-li-a {
  text-decoration: none;
  color: #fa4;
  text-transform: capitalize;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  min-height: 100vh;
  font-family: "Gothic A1", sans-serif;
}

.main {
  width: 100%;
  position: relative;
}
.main__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__section-article {
  width: 100%;
  text-align: center;
}

.main__section-article {
  overflow: hidden;
}

.main__section-img {
  position: absolute;
  width: 40%;
  height: auto;
  opacity: 40%;
  z-index: 2;
}

.h1__index {
  color: rgba(255, 170, 68, 0);
}

h1 {
  color: #fa4;
}

p {
  height: auto;
  color: #fa4;
}

.main__contact {
  display: flex;
  align-items: center;
  height: 100vh;
}
.main__contact-fondo {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
}

#contact {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
#contact .contact__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
#contact .contact__form-h1 {
  font-size: 30px;
}
#contact .nombre, #contact .mail {
  height: 40px;
  text-transform: capitalize;
}
#contact #textarea {
  resize: none;
  text-transform: capitalize;
}
#contact .nombre, #contact .mail, #contact #textarea {
  width: 350px;
  border-color: rgba(255, 170, 68, 0.6666666667);
  background-color: black;
  -webkit-text-fill-color: #fa4;
}
#contact .enviar {
  width: 80px;
  height: 35px;
  background-color: black;
  border-color: #fa4;
  color: #fa4;
  cursor: pointer;
  cursor: hand;
}

.contact__data {
  height: 100%;
}
.contact__data .info {
  margin: 10px 0;
  font-size: 25px;
  font-weight: bold;
}
.contact__data .redes {
  display: inline-flex;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: #fa4;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
}

.footer {
  width: 100vw;
  background-color: black;
  position: relative;
  text-align: center;
  bottom: 0;
}

.footer__h2 {
  color: #fa4;
}

@media (min-width: 1260px) {
  .main__section-article-video {
    width: 100%;
  }
}
.nav__a-h2-br {
  display: none;
}

@media (min-width: 1021px) and (max-width: 1150px) {
  .redes {
    flex-direction: column;
  }
}
@media (max-width: 1020px) {
  .nav__a-h2-br {
    display: block;
  }
  .nav__ul-li {
    width: auto;
    padding: 8px;
    display: flex;
  }
  .nav__ul-li-a {
    font-size: 15px;
  }
  .nav__a-h2 {
    font-size: 18px;
  }
  .main__contact {
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
  }
  .main__contact #contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: auto;
  }
  .main__contact .contact__data {
    text-align: center;
  }
  .main__contact .contact__data .info {
    font-size: 20px;
  }
  .main__contact .contact__data .redes {
    font-size: 20px;
    flex-direction: column;
  }
}
@media (max-width: 599px) {
  #contact {
    display: block;
  }
  #contact .contact__form {
    width: 100%;
  }
  .nav__ul {
    display: grid;
    margin: 0;
    justify-content: flex-end;
  }
  .nav__ul-li {
    padding: 5px;
  }
  .contact__data {
    display: grid;
  }
  .nav__a {
    display: block;
  }
  .nav__logo {
    margin: 0;
  }
}

/*# sourceMappingURL=estilo.css.map */
