@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fa4;
}

body {
    height: 100vh;
    background-color: black;
    min-height: 100vh;
    font-family: "Gothic A1", sans-serif;
    .main {
        width: 100%;
        position: relative;
        &__section {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &-article{
                width: 100%;
                text-align: center; 
                overflow: hidden;
            }
            &-img {
                position: absolute;
                width: 40%;
                height: auto;
                opacity: 40%;
                z-index: 2;
            }
        }
    }
}
h1{
}
p{
    height: auto;
}

.main__contact{
    display: flex;
    align-items: center;
    height: 100vh;
    &-fondo{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100vh;
    }
}
#contact{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    z-index: 1;
    background-color: #00000099;
    .contact__form{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        &-h1{
            font-size: 30px;
        }
    }
    .nombre, .mail {
        height: 40px;
    }
    .mensaje{
        resize: none;
    }
    .nombre, .mail, .mensaje{
        width: 350px;
        border-color: #ffaa44aa;
        background-color: black;
        -webkit-text-fill-color: #fa4;
    }
    .enviar{
        width: 80px;
        height: 35px;
        background-color: black;
        border-color: #fa4;
        cursor: pointer;
        cursor: hand;
    }
}
.contact__data{
    height: 100%;
    .info {
        margin: 10px 0;
        font-size: 25px;
        font-weight: bold;
    }
    .redes{
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        font-weight: bold;
    }
}