@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fa4;
}
body {
    height: 100vh;
    background-color: black;
    min-height: 100vh;
    font-family: "Gothic A1", sans-serif;
    .main {
        width: 100%;
        position: relative;
        &__section {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &-article{
                width: 100%;
                text-align: center; 
                overflow: hidden;
            }
            &-img {
                position: absolute;
                width: 40%;
                height: auto;
                opacity: 40%;
                z-index: 2;
            }
        }
    }
}
h1{
}
p{
    height: auto;
}