@media (min-width:1260px){
    .main__section-article-video {
        width: 100%;
    }
    .footer{
        position: fixed;
    }
}
.nav__a-h2-br{
    display: none;
}
@media (max-width: 1150px){
    .redes{ 
        flex-direction: column; 
    }
}

@media (max-width: 1070px){
    .nav__ul-li{
        width: auto;
        padding: 8px;
        display: flex;
        &-a{
            font-size: 15px;
        }
    }
    .nav__a-h2{
        font-size: 18px;
        &-br{
            display: block;
        }
    }
    .main__contact{
        justify-content: center;   
        #contact{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            height: 100vh;
            width: auto;
        }
        .contact__data{
            text-align: center;
            .info{
                font-size: 20px;
            }
            .redes{
                font-size: 20px;
                margin: 10px 0;
            }
        }
    }
    .main__ns{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "titulo"
        "carrusel-1"
        "parrafo-1"
        "carrusel-2"
        "parrafo-2"
        "carrusel-3"
        "parrafo-3"
        "carrusel-4"
        "parrafo-4";
        &-titulo{
            font-size: 30px;
            justify-content: center;
        }
        #conten__items-carrusel-1, #conten__items-carrusel-2, #conten__items-carrusel-3, #conten__items-carrusel-4{
            height: 330px;
            width: 500px;
            justify-self: center;
            .item-carrusel{
                height: 330px;
            }
        }
        .primer-parrafo, .segundo-parrafo, .tercer-parrafo, .cuarto-parrafo{
            text-align: center;
            font-size: 18px;
            padding: 0;
            &-texto{
                padding: 0 30px;
            }
        }
    }
    .body__nos-main{
        &-art, &-parrafos{
            font-size: 18px;
            &-img{
                width: 400px;
                height: 60px;
            }
        }
        &-h3, &-h4{
            font-size: 25px;
        }
    }
    .main__port {
        &-titulo{
            font-size: 18px;
        }
}
@media (max-width:599px){
        .main__ns{
            &-titulo{
                font-size: 25px;
            }
        #conten__items-carrusel-1, #conten__items-carrusel-2, #conten__items-carrusel-3, #conten__items-carrusel-4{
            height: 150px;
            width: 250px;
            .item-carrusel{
                height: 150px;
            }
        }
    }
    }
    .nav{
        &__ul{
            display: grid;
            margin: 0;
            justify-content: flex-end;
            &-li{
                padding: 5px;
            }
        }
        &__a{
            display: block;
        }
        &__logo{
            margin: 0;
        }
    }
    #contact{
        background-color: #00000000;
        display: block;
        .contact__form{
            width: 100%;
            background-color: #00000099;
            .nombre, .mail, .mensaje{
                width: 250px;
            }
        }
    }
    .contact__data{
        display: grid;
        background-color: #00000099;
        .info{
            margin: 10px 0;
        }
    }
    .main__contact{
        overflow: scroll;
    }
}